.z{
  text-align: center;
  background-image: url("BP.png");
  /*<!--garante que qualquer tamanho de janela vai cobrir tudo-->*/
  padding: 150px;
  color: black;
  text-shadow: 1px 1px 5px black;
  background-repeat: no-repeat;
  background-size: auto;
}

.x{
    background-image: url("BP.png");
    background-repeat: no-repeat;
    background-repeat: cover;
    background-attachment: fixed;
}

body{
    font-family: 'Montserrat',sans-serif;
    margin: 0px;
}

h1{
    font-family: helvetica;
    font-size: 50px;
}

.navbar{
    margin-bottom: 0px;
    text-align: center;
}

.img-fluid{
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: 0px;
}

img.logo{
    width: 100px;
    height: 30px;
    
}

@media (max-width: 2000px){


.qcont:first-letter {
  font-size: 50px;
}
    
    p{
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    margin-bottom: 30px;
}
    
    .newsletter{
        margin-left: 0px;
        margin-right:0px;
        
    }
    
}



@media (max-width: 700px){
    
.qcont:first-letter {
  font-size: 30px;
}
    
  p{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
      margin-bottom: 30px;
}
    
    input.text-box {
    border: solid 5px #009fd9;
    background-color: rgba(196, 196, 196, 0);
    width: 250px;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
}
    
    .newsletter{
        margin-left: 0px;
        margin-right: 0px;
        align-content: center;
    }
    
}


.jumbotron text-center {
    background: #3761a2;

}

input.text-box {
    border: solid 5px #009fd9;
    background-color: rgba(196, 196, 196, 0);
}

input.text-box {
    border: solid 5px #009fd9;
    background-color: rgba(196, 196, 196, 0);
    width: 250px;
    padding: 5px;
    color: white;
    margin-bottom: 0px;
}

.newsletter {
  background-color: #45425A;
  color: #fff;
}

h1.newsletter {
    text-align: center;
}

.news-text {
    margin-right: 10%;
    margin-left: 10%;
}

.btn-primary{
    background-color: #5abff6 !important;
}
