.logo{
height: 40px;
}

.img-fluid {
    width: auto;
}

.ltimos-Posts {
    width: 303px;
    height: 56px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3761a2;
    text-align: center;

}

.imgpost {
    width: 176px;
    height: 176px;
    float: left;
    margin-right: 30px;
    

    
    
}
input.text-box {
    border: solid 5px #009fd9;
    background-color: rgba(196, 196, 196, 0);
}

input.text-box {
    border: solid 5px #009fd9;
    background-color: rgba(196, 196, 196, 0);
    width: 450px;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
}

.btn {
    background-color: #45425A;
    /* Blue background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    padding: 4px 16px;
    /* Some padding */
    font-size: 16px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
    float: right;
}

.postrel{
    margin: 40px;
}

.posts{
    
    text-align: center;
     color: #3761a2;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.posts2{
    
    text-align: left;
     color: #3761a2;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.flex-rectangle {
    background: #009FD9;
    height: 7px
}

.flex-rectangle:before {
    content: "";
    display: block;
    padding-top: 10%;
}

.jumbotron text-center {
    background: #3761a2;

}

.oi {
    justify-content: center;
    display: flex;
    flex-direction: row;

}



.containert{
    //border: 2px solid black;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.containert>div{
    //background-color: #f1f1f1;
    margin: 30px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.contem{
   display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contem>div{
    //background-color: #f1f1f1;
    margin: 70px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-wrap: wrap;
}

.container>div{
    justify-content: center;
    flex-wrap: wrap;
}




.x{
   //width: 303px;
    height: 56px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3761a2;
    text-align: center;
}

.post-content {
  display: flex;
}

.blog-post {
  margin-bottom: 50px;
}

h2.blog-title {
    text-align: center;
    color: #009FD9;

}

p.blog-desc {
    text-align: justify;
}

.title {
  text-align: center;
  color: #009FD9;
}

.ebook-floater {
margin-bottom: 15px;
}

.newsletter {
  background-color: #45425A;
  color: #fff;
}

h1.newsletter {
    text-align: center;
}

.news-text {
    margin-right: 10%;
    margin-left: 10%;
}



.footer {
  background-color: #45425A;
}

.logo-footer{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-align {
  text-align: center;
}

img.diferencial-img {
    max-width: 100px;
    margin-bottom: 35px;
}

img.main-img{
  width: 372px;
  height: 506px;
}

img.post-main-img{
    width: 330px;
    height: 265px;
    margin-bottom: 92px;
}


.text-justify {
  text-align: justify;
}

.desc{
    margin-bottom: 80px;
}

@media screen and (max-width: 500px) {
    .textmob{
        background:#aaaaaa;
        display: none;
    }
    
}

@media only screen and (min-width: 1200px) 
{
    img.post-main-img{
    width: 730px;
    height: 365px;
    margin-bottom: 92px;
}
    
    img.postrel1{
        width: 352px;
        height: 201px;
    }
}



@media only screen and (max-width: 1200px)    
{
    img.post-main-img{
    width: 610px;
    height: 305px;
    margin-bottom: 92px;
}
 img.postrel1{
        width: 352px;
        height: 201px;
    }  
    
    div.postrel1{
        
    }
}

@media only screen and (max-width: 991px) {
    img.post-main-img{
    width: 450px;
    height: 225px;
    margin-bottom: 92px;
    }
    
}
    
    
@media only screen and (max-width: 767px) {
    img.post-main-img{
    width: 510px;
    height: 255px;
    margin-bottom: 92px;
    }
    
}
    


    


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 959px) {
    .a {
  max-height: 555px;
  min-width: auto;
        
        
}
    
    
}
    


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .a {
  
  min-width: auto;
}
    
    



